<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="view-assessment-summary-container">
  <h1 class="page-title">Assessment Summary</h1>
  <div class="card-container">
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              (input)="onSearch()"
              [(ngModel)]="globalFilterValue"
              pInputText
              placeholder="Search..."
              type="text"
            />
          </span>
        </div>
      </div>
      <div class="second-row">
        <div *ngIf="currentRoles.includes('HR')" class="user-selection">
          <label for="divisionSelect">Select Division: </label>
          <p-dropdown
            (onChange)="fetchAssessmentSummaries()"
            [(ngModel)]="selectedDivisionIdFilter"
            [options]="divisions"
            appendTo="body"
            id="divisionSelect"
            optionLabel="division_name"
            optionValue="id"
            placeholder="Select division"
          ></p-dropdown>
        </div>

        <div class="assessment-year-selection">
          <label for="assessmentYear">Assessment Year: </label>
          <p-calendar
            (onSelect)="fetchAssessmentSummaries()"
            [(ngModel)]="selectedAssessmentYear"
            [maxDate]="maxDate"
            appendTo="body"
            dateFormat="yy"
            id="assessmentYear"
            placeholder="{{ selectedYear }}"
            view="year"
          ></p-calendar>
        </div>
      </div>
    </div>

    <p-card>
      <p-table
        #dt
        (onLazyLoad)="fetchAssessmentSummaries($event)"
        [lazy]="true"
        [loading]="isLoading"
        [paginator]="true"
        [resizableColumns]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [value]="allSummaries"
        responsiveLayout="scroll"
        sortMode="single"
      >
        <ng-template pTemplate="caption">
          <div class="table-filters">
            <div class="order-actions">
              <div class="order-dropdown">
                <p-dropdown
                  (onChange)="fetchAssessmentSummaries()"
                  [(ngModel)]="selectedOrderColumn"
                  [options]="orderColumns"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Select Column"
                ></p-dropdown>
              </div>
              <button
                (click)="toggleOrderDirection()"
                class="p-button-secondary toggle-order-button"
                icon="{{
                  selectedOrderDirection === 'asc'
                    ? 'pi pi-arrow-up'
                    : 'pi pi-arrow-down'
                }}"
                pButton
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Division</th>
            <th>Score</th>
            <th>Status</th>
            <th>Approval Date</th>
            <th>Approver</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template let-summary pTemplate="body">
          <tr>
            <td>{{ summary.full_name }}</td>
            <td>{{ summary.division_name }}</td>
            <td>{{ summary.score }}</td>
            <td *ngIf="summary.status == 1" style="color: red">Pending</td>
            <td *ngIf="summary.status == 2" style="color: green">Accepted</td>
            <td>
              {{
                summary.approved_at
                  ? (summary.approved_at | date : "dd/MM/yyyy")
                  : "Pending"
              }}
            </td>
            <td>{{ summary.approver_name ?? "Pending" }}</td>
            <td>
              <button
                (click)="
                  fetchViewAssessmentSummary(summary.user_id, summary.id)
                "
                [disabled]="isLoading"
                [icon]="
                  isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-external-link'
                "
                class="p-button-rounded"
                pButton
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" style="text-align: center; font-style: italic">
              No data available.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <p-dialog
    [(visible)]="displayAssessmentSummaryDialog"
    [closable]="true"
    [dismissableMask]="true"
    [modal]="true"
    [resizable]="false"
    [style]="{ width: '50vw' }"
    header="{{ selectedName }}'s {{ selectedYear }} Assessment Summary"
    id="assessmentSummaryDialog"
  >
    <p><strong>Division:</strong> {{ selectedDivision }}</p>
    <p><strong>Position:</strong> {{ selectedPosition }}</p>
    <p *ngIf="selectedStatus === 1"><strong>Status:</strong> Pending</p>
    <p *ngIf="selectedStatus === 2"><strong>Status:</strong> Approved</p>

    <h4>Achievements</h4>
    <div class="table-container">
      <table class="combined-table">
        <thead>
        <tr>
          <th>Category</th>
          <th>Score</th>
          <th>Percentage</th>
          <th>Final Score</th>
        </tr>
        </thead>

        <tbody>
        <ng-container
          *ngIf="
              achievements.length > 0 && !isLoading;
              else noDataAchievements
            "
        >
          <ng-container *ngFor="let achievement of achievements">
            <tr>
              <td>{{ achievement.group_name }}</td>
              <td>{{ achievement.sum_score }}</td>
              <td>{{ achievement.percentage }}%</td>
              <td>
                {{
                  (achievement.sum_score * achievement.percentage) / 100
                    | number : "1.2-2"
                }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td colspan="2" style="text-align: right; font-weight: bold">
            Total:
          </td>
          <td>{{ totalAchievementPercentage | number : "1.2-2" }}%</td>
          <td>{{ totalAchievementScore | number : "1.2-2" }}</td>
        </tr>

        <!-- Fallback if no Achievements -->
        <ng-template #noDataAchievements>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              No Achievements data available for the selected assessment year.
            </td>
          </tr>
        </ng-template>

        <!-- Attitude Skill header row -->
        <tr>
          <td class="section-header" colspan="4">Attitude Skill</td>
        </tr>
        <!-- Attitude Skill Section -->
        <ng-container
          *ngIf="
              attitudeSkills.length > 0 && !isLoading;
              else noDataAttitudeSkills
            "
        >
          <ng-container *ngFor="let attitudeSkill of attitudeSkills">
            <tr>
              <td>{{ attitudeSkill.group_name }}</td>
              <td>{{ attitudeSkill.sum_score }}</td>
              <td>{{ attitudeSkill.percentage }}%</td>
              <td>
                {{
                  (attitudeSkill.sum_score * attitudeSkill.percentage) / 100
                    | number : "1.2-2"
                }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td colspan="2" style="text-align: right; font-weight: bold">
            Total:
          </td>
          <td>{{ totalAttitudePercentage | number : "1.2-2" }}%</td>
          <td>{{ totalAttitudeScore | number : "1.2-2" }}</td>
        </tr>

        <!-- Fallback if no Attitude Skills -->
        <ng-template #noDataAttitudeSkills>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              No Attitude Skill data available for the selected assessment
              year.
            </td>
          </tr>
        </ng-template>

        <!-- Final Score header row -->
        <tr>
          <td class="section-header" colspan="4">Final Score</td>
        </tr>
        <!-- Total Final Score Row -->
        <tr>
          <td colspan="3" style="text-align: right; font-weight: bold">
            Total:
          </td>
          <td>
            {{ totalPercentage | number : "1.2-2" }}% /
            {{ totalFinalScore | number : "1.2-2" }}
          </td>
        </tr>

        <!-- Suggestion header row -->
        <tr>
          <td class="section-header" colspan="4">Suggestion</td>
        </tr>
        <!-- Suggestion Section -->
        <ng-container *ngIf="suggestion && !isLoading; else noDataSuggestion">
          <tr>
            <td colspan="4">{{ suggestion }}</td>
          </tr>
        </ng-container>

        <!-- Fallback if no Suggestion -->
        <ng-template #noDataSuggestion>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              No data available for the selected assessment year.
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>

    <div class="dialog-footer">
      <button
        (click)="exportAsPDF()"
        [disabled]="isLoading"
        class="p-button-warning"
        icon="pi pi-file-pdf"
        label="Export as PDF"
        pButton
      ></button>

      <button
        (click)="exportAsExcel()"
        [disabled]="isLoading"
        class="p-button-success"
        icon="pi pi-file-excel"
        label="Export as Excel"
        pButton
      ></button>

      <button
        (click)="approveAssessment()"
        *ngIf="currentRoles.includes('SVP') && selectedStatus === 1"
        [disabled]="isLoading"
        class="p-button-info"
        icon="pi pi-check"
        label="Approve Assessment"
        pButton
      ></button>
    </div>
  </p-dialog>
</div>
