<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br />
<div class="employee-dev-plan-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Development Plan</h1>
  </div>

  <div class="header-actions">
    <div class="top-row">
      <!-- For HR users, show the user dropdown -->
      <div *ngIf="currentRoles.includes('HR')" class="user-selection">
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{ selectedName }}"
          (onChange)="fetchEmpDevPlans()"
          appendTo="body"
        ></p-dropdown>
      </div>
      <!-- Assessment Year -->
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchEmpDevPlans()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
          appendTo="body"
        ></p-calendar>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submitEmployeeDevPlan()">
    <div class="p-fluid">
      <div class="p-field">
        <table class="p-datatable edit-form-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Plan</th>
              <th
                *ngIf="
                  !isLocked &&
                  selectedUserId === currentUserId &&
                  currentRoles.includes('USER')
                "
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let group of groupedEmpDevPlans;
                trackBy: trackByDevPlanId
              "
            >
              <tr>
                <td [attr.rowspan]="group.descriptions.length + 1">
                  {{ group.dev_plan_name }}
                </td>
                <td *ngIf="!isLocked" colspan="3">
                  <button
                    *ngIf="
                      currentRoles.includes('USER') &&
                      selectedUserId === currentUserId
                    "
                    type="button"
                    (click)="addPlanEntry(group)"
                    pButton
                    label="Add Plan"
                  ></button>
                  <p
                    *ngIf="
                      group.descriptions.length === 0 &&
                      selectedUserId !== currentUserId
                    "
                    style="text-align: center; font-style: italic"
                  >
                    No Plan
                  </p>
                </td>
                <td
                  *ngIf="isLocked && group.descriptions.length === 0"
                  colspan="3"
                >
                  <p style="text-align: center; font-style: italic">No Plan</p>
                </td>
              </tr>
              <!-- Skill Entries -->
              <tr
                *ngFor="
                  let entry of group.descriptions;
                  let i = index;
                  trackBy: trackByIndex
                "
              >
                <td>
                  <input
                    [(ngModel)]="entry.description"
                    name="PlanEntry_{{ group.dev_plan_id }}_{{ i }}"
                    pInputText
                    required
                    [disabled]="
                      !currentRoles.includes('USER') ||
                      selectedUserId !== currentUserId ||
                      isLocked
                    "
                  />
                </td>
                <td *ngIf="!isLocked">
                  <button
                    type="button"
                    (click)="removePlanEntry(group, i)"
                    pButton
                    icon="pi pi-trash"
                  ></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dialog-footer">
      <button
        *ngIf="
          currentRoles.includes('USER') &&
          selectedUserId === currentUserId &&
          !isLocked
        "
        pButton
        type="submit"
        [label]="isProcessing ? 'Saving...' : 'Save'"
        [disabled]="isProcessing"
        class="p-button-primary"
      >
        <ng-container *ngIf="isProcessing">
          <i class="pi pi-spin pi-spinner"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>
