<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br/>
<div class="employee-dev-plan-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Development Plan</h1>
  </div>

  <div class="header-actions">
    <div class="top-row">
      <!-- For HR users, show the user dropdown -->
      <div *ngIf="currentRoles.includes('HR')" class="user-selection">
        <label for="userSelect">Select User: </label>
        <p-dropdown
          (onChange)="fetchEmpDevPlans()"
          [(ngModel)]="selectedUserId"
          [options]="employees"
          appendTo="body"
          id="userSelect"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{ selectedName }}"
        ></p-dropdown>
      </div>
      <!-- Assessment Year -->
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          (onSelect)="fetchEmpDevPlans()"
          [(ngModel)]="selectedAssessmentYear"
          [maxDate]="maxDate"
          appendTo="body"
          dateFormat="yy"
          id="assessmentYear"
          placeholder="{{ selectedYear }}"
          view="year"
        ></p-calendar>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submitEmployeeDevPlan()">
    <div class="p-fluid">
      <div class="p-field">
        <table class="p-datatable edit-form-table">
          <thead>
          <tr>
            <th>Category</th>
            <th>Plan</th>
            <th
              *ngIf="
                  !isLocked &&
                  selectedUserId === currentUserId &&
                  currentRoles.includes('USER')
                "
            >
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container
            *ngFor="
                let group of groupedEmpDevPlans;
                trackBy: trackByDevPlanId
              "
          >
            <tr>
              <td [attr.rowspan]="group.descriptions.length + 1">
                {{ group.dev_plan_name }}
              </td>
              <td *ngIf="!isLocked" colspan="3">
                <button
                  (click)="addPlanEntry(group)"
                  *ngIf="
                      currentRoles.includes('USER') &&
                      selectedUserId === currentUserId
                    "
                  label="Add Plan"
                  pButton
                  type="button"
                ></button>
                <p
                  *ngIf="
                      group.descriptions.length === 0 &&
                      selectedUserId !== currentUserId
                    "
                  style="text-align: center; font-style: italic"
                >
                  No Plan
                </p>
              </td>
              <td
                *ngIf="isLocked && group.descriptions.length === 0"
                colspan="3"
              >
                <p style="text-align: center; font-style: italic">No Plan</p>
              </td>
            </tr>
            <!-- Skill Entries -->
            <tr
              *ngFor="
                  let entry of group.descriptions;
                  let i = index;
                  trackBy: trackByIndex
                "
            >
              <td>
                <input
                  [(ngModel)]="entry.description"
                  [disabled]="
                      !currentRoles.includes('USER') ||
                      selectedUserId !== currentUserId ||
                      isLocked
                    "
                  name="PlanEntry_{{ group.dev_plan_id }}_{{ i }}"
                  pInputText
                  required
                />
              </td>
              <td *ngIf="!isLocked">
                <button
                  (click)="removePlanEntry(group, i)"
                  icon="pi pi-trash"
                  pButton
                  type="button"
                ></button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dialog-footer">
      <button
        *ngIf="
          currentRoles.includes('USER') &&
          selectedUserId === currentUserId &&
          !isLocked
        "
        [disabled]="isProcessing"
        [label]="isProcessing ? 'Saving...' : 'Save'"
        class="p-button-primary"
        pButton
        type="submit"
      >
        <ng-container *ngIf="isProcessing">
          <i class="pi pi-spin pi-spinner"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>
