<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br />
<div class="employee-attitude-skill-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Attitude Skills</h1>
  </div>
  <div class="header-actions">
    <div class="top-row">
      <!-- For HR users, show the user dropdown -->
      <div
        *ngIf="
          currentRoles.includes('HR') ||
          currentRoles.includes('MGR') ||
          currentRoles.includes('SVP')
        "
        class="user-selection"
      >
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{ selectedName }}"
          (onChange)="fetchEmpAttitudeSkills()"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchEmpAttitudeSkills()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
        ></p-calendar>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submitEmployeeAttitudeSkill()">
    <div class="p-fluid">
      <div class="p-field">
        <table class="p-datatable edit-form-table">
          <thead>
            <tr>
              <th>Group Name</th>
              <th>Attitude Skill</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let group of groupedEmpAttitudeSkills">
              <ng-container *ngIf="group.attitudeSkills.length > 0">
                <ng-container
                  *ngFor="
                    let attitudeSkill of group.attitudeSkills;
                    let i = index;
                    trackBy: trackById
                  "
                >
                  <tr>
                    <td
                      *ngIf="i === 0"
                      [attr.rowspan]="group.attitudeSkills.length"
                    >
                      {{ group.group_name }}
                    </td>
                    <td>{{ attitudeSkill.attitude_skill_name }}</td>
                    <td>
                      <p-dropdown
                        [(ngModel)]="attitudeSkill.score"
                        name="Score_{{ group.group_id }}_{{ i }}"
                        [options]="scoreOptions"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Select Score"
                        [disabled]="
                          isProcessing ||
                          !currentRoles.includes('USER') ||
                          selectedUserId !== currentUserId ||
                          isExist
                        "
                        appendTo="body"
                      ></p-dropdown>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dialog-footer">
      <button
        *ngIf="
          currentRoles.includes('USER') &&
          selectedUserId === currentUserId &&
          !isExist
        "
        pButton
        type="submit"
        [label]="isProcessing ? 'Saving...' : 'Save'"
        [disabled]="isProcessing"
        class="p-button-primary"
      >
        <ng-container *ngIf="isProcessing">
          <i class="pi pi-spin pi-spinner"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>
