<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br />
<div class="assessment-summary-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Assessment Summary</h1>
  </div>

  <div class="header-actions">
    <div class="top-row">
      <div
        *ngIf="
          currentRoles.includes('HR') ||
          currentRoles.includes('SVP') ||
          currentRoles.includes('MGR')
        "
        class="user-selection"
      >
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{
            employees.length > 0 ? employees[0].full_name : selectedName
          }}"
          (onChange)="fetchAssessmentSummary()"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div
        *ngIf="currentRoles.includes('HR') || currentRoles.includes('SVP')"
        class="user-selection"
      >
        <label for="userSelect">Select Division: </label>
        <p-dropdown
          id="divisionSelect"
          [options]="divisions"
          [(ngModel)]="selectedDivisionId"
          optionLabel="division_name"
          optionValue="id"
          placeholder="{{ selectedDivision }}"
          (onChange)="fetchAssessmentSummaryFirstEmployee()"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchAssessmentSummary()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
          appendTo="body"
        ></p-calendar>
      </div>
    </div>
  </div>
  <form (ngSubmit)="submitAssessmentSummary()">
    <p><strong>Division:</strong> {{ selectedDivision }}</p>
    <p><strong>Position:</strong> {{ selectedPosition }}</p>
    <p *ngIf="selectedStatus === 1"><strong>Status:</strong> Permanent</p>
    <p *ngIf="selectedStatus === 2"><strong>Status:</strong> Contract</p>

    <!-- Achievements Table -->
    <h4>Achievements</h4>

    <div class="table-container">
      <table class="achievement-table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Score</th>
            <th>Percentage</th>
            <th>Final Score</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngIf="
              achievements.length > 0 && !isLoading;
              else noDataAchievements
            "
          >
            <ng-container *ngFor="let achievement of achievements">
              <tr>
                <td>{{ achievement.group_name }}</td>
                <td>{{ achievement.sum_score }}</td>
                <td>{{ achievement.percentage }}%</td>
                <td>
                  {{
                    (achievement.sum_score * achievement.percentage) / 100
                      | number : "1.2-2"
                  }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
        <tr>
          <td colspan="2" style="text-align: right; font-weight: bold">
            Total:
          </td>
          <td>{{ totalAchievementPercentage | number : "1.2-2" }}%</td>
          <td>
            {{ totalAchievementScore | number : "1.2-2" }}
          </td>
        </tr>

        <ng-template #noDataAchievements>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              No Achievements data available for the selected assessment year.
              <br />
              Please contact HR for clarifications.
            </td>
          </tr>
        </ng-template>
      </table>
    </div>

    <!-- Attitude Skills Table -->
    <h4>Attitude Skill</h4>

    <div class="table-container">
      <table class="attitude-skill-table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Score</th>
            <th>Percentage</th>
            <th>Final Score</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngIf="
              attitudeSkills.length > 0 && !isLoading;
              else noDataAttitudeSkills
            "
          >
            <ng-container *ngFor="let attitudeSkill of attitudeSkills">
              <tr>
                <td>{{ attitudeSkill.group_name }}</td>
                <td>{{ attitudeSkill.sum_score }}</td>
                <td>{{ attitudeSkill.percentage }}%</td>
                <td>
                  {{
                    (attitudeSkill.sum_score * attitudeSkill.percentage) / 100
                      | number : "1.2-2"
                  }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
        <tr>
          <td colspan="2" style="text-align: right; font-weight: bold">
            Total:
          </td>
          <td>{{ totalAttitudePercentage | number : "1.2-2" }}%</td>
          <td>
            {{ totalAttitudeScore | number : "1.2-2" }}
          </td>
        </tr>

        <ng-template #noDataAttitudeSkills>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              Please insert the data for the selected assessment year before
              submitting.
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
    <div class="table-container">
      <table class="total-final-score-table">
        <tbody>
          <tr>
            <td colspan="3" style="text-align: right; font-weight: bold">
              Total:
            </td>
            <td>{{ totalPercentage | number : "1.2-2" }}%</td>
            <td>
              {{ totalFinalScore | number : "1.2-2" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>Suggestion</h4>

    <div class="table-container">
      <table class="suggestion-table">
        <tbody>
          <ng-container *ngIf="suggestion && !isLoading; else noData">
            <ng-container>
              <tr>
                <td>{{ suggestion }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>

        <ng-template #noData>
          <tr>
            <td colspan="4" style="text-align: center; font-style: italic">
              No suggestion available for the selected assessment year.
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
    <span *ngIf="attitudeSkills.length === 0 || achievements.length === 0">
      <p style="font-weight: bold; color: red">
        Cannot submit assessment summary because
      </p>
      <li *ngIf="attitudeSkills.length === 0" style="color: black">
        Attitude Skills is empty for the selected assessment year.
      </li>
      <li *ngIf="achievements.length === 0" style="color: black">
        Achievements data is empty for the selected assessment year.
      </li>
    </span>
    <button
      *ngIf="
        !isExist &&
        selectedUserId === currentUserId &&
        currentRoles.includes('USER')
      "
      pButton
      type="submit"
      [label]="isLoading ? 'Saving...' : 'Save'"
      [disabled]="
        isLoading || attitudeSkills.length === 0 || achievements.length === 0
      "
      class="p-button-primary"
    >
      <ng-container *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner"></i>
      </ng-container>
    </button>
  </form>
</div>
