<div class="p-fluid login-container">
  <div class="card">
    <div class="card-header">
      <h2 class="p-text-center">Login</h2>
      <p *ngIf="warningMessage" class="p-warning p-text-center">
        {{ warningMessage }}
      </p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label for="username">Username/Email:</label>
          <input
            pInputText
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
            [disabled]="isLoading"
            placeholder="Enter your username"
          />
        </div>
        <div class="p-field">
          <label for="password">Password:</label>
          <div class="p-inputgroup">
            <p-password
              id="password"
              [(ngModel)]="password"
              name="password"
              required
              [disabled]="isLoading"
              [toggleMask]="true"
              [inputStyle]="{ width: '100%', paddingRight: '2rem' }"
              [feedback]="false"
              [style]="{ width: '100%' }"
              placeholder="Enter your password"
            ></p-password>
          </div>
        </div>
        <div class="p-field">
          <button
            pButton
            type="submit"
            [disabled]="!username || !password || isLoading"
            label="{{ isLoading ? 'Logging in...' : 'Login' }}"
            class="p-button-rounded p-button-primary p-button-block"
          ></button>
        </div>
      </form>
      <p *ngIf="errorMessage" class="p-error p-text-center">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
