<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br />
<div class="employee-technical-skill-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Technical Skill</h1>
  </div>

  <div class="header-actions">
    <div class="top-row">
      <div *ngIf="currentRoles.includes('HR')" class="user-selection">
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          placeholder="{{ selectedName }}"
          (onChange)="fetchEmpTechnicalSkills()"
          appendTo="body"
        ></p-dropdown>
      </div>
      <!-- Assessment Year -->
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchEmpTechnicalSkills()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
        ></p-calendar>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submitEmployeeTechnicalSkill()">
    <div class="p-fluid">
      <div class="p-field">
        <table class="p-datatable edit-form-table">
          <thead>
            <tr>
              <th>Technical Skill</th>
              <th>Skill</th>
              <th>Score</th>
              <th
                *ngIf="
                  !isExist &&
                  selectedUserId === currentUserId &&
                  currentRoles.includes('USER')
                "
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="
                let group of groupedEmpTechnicalSkills;
                trackBy: trackByTechnicalSkillId
              "
            >
              <!-- Group Row -->
              <tr>
                <td [attr.rowspan]="group.skillEntrys.length + 1">
                  {{ group.technical_skill_name }}
                </td>
                <td *ngIf="!isExist" colspan="3">
                  <button
                    *ngIf="
                      currentRoles.includes('USER') &&
                      selectedUserId === currentUserId
                    "
                    type="button"
                    (click)="addSkillEntry(group)"
                    pButton
                    label="Add Skill"
                  ></button>
                  <p
                    *ngIf="
                      group.skillEntrys.length === 0 &&
                      selectedUserId !== currentUserId
                    "
                    style="text-align: center; font-style: italic"
                  >
                    No Skill
                  </p>
                </td>
                <td
                  *ngIf="isExist && group.skillEntrys.length === 0"
                  colspan="3"
                >
                  <p style="text-align: center; font-style: italic">No Skill</p>
                </td>
              </tr>
              <!-- Skill Entries -->
              <tr
                *ngFor="
                  let entry of group.skillEntrys;
                  let i = index;
                  trackBy: trackByIndex
                "
              >
                <td>
                  <input
                    [(ngModel)]="entry.skillEntry"
                    name="skillEntry_{{ group.technical_skill_id }}_{{ i }}"
                    pInputText
                    required
                    [disabled]="
                      !currentRoles.includes('USER') ||
                      selectedUserId !== currentUserId ||
                      isExist
                    "
                  />
                </td>
                <td>
                  <p-dropdown
                    [(ngModel)]="entry.entryScore"
                    name="entryScore_{{ group.technical_skill_id }}_{{ i }}"
                    [options]="scoreOptions"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Select Score"
                    required
                    appendTo="body"
                    [disabled]="
                      !currentRoles.includes('USER') ||
                      selectedUserId !== currentUserId ||
                      isExist
                    "
                  ></p-dropdown>
                </td>
                <td
                  *ngIf="
                    !isExist &&
                    selectedUserId === currentUserId &&
                    currentRoles.includes('USER')
                  "
                >
                  <button
                    type="button"
                    (click)="removeSkillEntry(group, i)"
                    pButton
                    icon="pi pi-trash"
                  ></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dialog-footer">
      <button
        *ngIf="
          !isExist &&
          selectedUserId === currentUserId &&
          currentRoles.includes('USER')
        "
        pButton
        type="submit"
        [label]="isProcessing ? 'Saving...' : 'Save'"
        [disabled]="isProcessing"
        class="p-button-primary"
      >
        <ng-container *ngIf="isProcessing">
          <i class="pi pi-spin pi-spinner"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>
