<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="manage-user-container">
  <div class="manage-user-container">
    <h1 class="page-title">Manage User</h1>
    <div class="header-actions">
      <div class="search-container">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Search..."
            [(ngModel)]="globalFilterValue"
            (input)="onSearch()"
          />
        </span>
      </div>
      <button
        pButton
        label="Create"
        icon="pi pi-plus"
        class="create-button"
        (click)="openCreateDialog()"
        [disabled]="isProcessing || isEditFormLoading"
      ></button>
    </div>

    <p-card>
      <p-table
        #dt
        [value]="employees"
        [lazy]="true"
        [paginator]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        (onLazyLoad)="fetchEmployees($event)"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [sortMode]="'single'"
      >
        <ng-template pTemplate="caption">
          <div class="table-filters">
            <div class="order-actions">
              <div class="order-dropdown">
                <p-dropdown
                  [options]="orderColumns"
                  [(ngModel)]="selectedOrderColumn"
                  placeholder="Select Column"
                  optionLabel="label"
                  optionValue="value"
                  (onChange)="fetchEmployees()"
                ></p-dropdown>
              </div>
              <button
                pButton
                icon="{{
                  selectedOrderDirection === 'asc'
                    ? 'pi pi-arrow-up'
                    : 'pi pi-arrow-down'
                }}"
                class="p-button-secondary toggle-order-button"
                (click)="toggleOrderDirection()"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Position</th>
            <th>Status</th>
            <th>Email Address</th>
            <th>Division</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
          <tr [ngClass]="{ 'disabled-row': employee.enabled === false }">
            <td>{{ employee.username }}</td>
            <td>{{ employee.full_name }}</td>
            <td>{{ employee.position }}</td>
            <td *ngIf="employee.employee_status == 1">Permanent</td>
            <td *ngIf="employee.employee_status == 2">Contract</td>
            <td>{{ employee.email_address }}</td>
            <td>{{ employee.division_name }}</td>
            <td>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                (click)="editEmployee(employee.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
              <button
                pButton
                *ngIf="currentUserId !== employee.id"
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                (click)="deleteEmployee(employee.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      header="{{ mode === 'create' ? 'Create Employee' : 'Edit Employee' }}"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form [formGroup]="editForm" (ngSubmit)="submitEmployee()">
        <div class="p-fluid">
          <div *ngIf="mode === 'create'" class="p-field">
            <label for="username"
              >Username
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="username"
                pInputText
                formControlName="username"
                [disabled]="isProcessing"
              />
            </div>
          </div>

          <div class="p-field">
            <label for="full_name"
              >Full Name
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="full_name"
                pInputText
                formControlName="full_name"
                [disabled]="isProcessing"
              />
            </div>
          </div>

          <div class="p-field">
            <label for="position"
              >Position
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="position"
                pInputText
                formControlName="position"
                [disabled]="isProcessing"
              />
            </div>
          </div>

          <div class="p-field">
            <label for="email_address"
              >Email
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="email_address"
                pInputText
                formControlName="email_address"
                [disabled]="isProcessing"
              />
            </div>
          </div>

          <div class="p-field">
            <label for="division_id"
              >Division
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <p-dropdown
                [options]="divisions"
                optionLabel="division_name"
                optionValue="id"
                formControlName="division_id"
                id="division_id"
                [disabled]="isProcessing"
                placeholder="Select a Division"
              ></p-dropdown>
            </div>
          </div>
          <div class="p-field">
            <label>Roles</label>
            <div class="roles-container" style="padding: 0.5rem 0">
              <div
                *ngFor="let role of roles; let i = index"
                class="role-checkbox"
              >
                <p-checkbox
                  [binary]="true"
                  [formControl]="getRoleFormControl(i)"
                  [label]="role.rolename"
                ></p-checkbox>
              </div>
            </div>
            <ng-template #loadingRoles>
              <div class="loading-overlay">
                <i class="pi pi-spin pi-spinner"></i> Loading roles...
              </div>
            </ng-template>
          </div>

          <div class="p-field">
            <label for="employee_status"
              >Status
              <span class="required">*</span>
            </label>
            <div class="radio-buttons" style="padding: 0.5rem 0">
              <p-radioButton
                name="employee_status"
                id="employee_status"
                value="1"
                formControlName="employee_status"
                label="Permanen"
                [disabled]="isProcessing"
              ></p-radioButton>
              <p-radioButton
                name="employee_status"
                value="2"
                formControlName="employee_status"
                label="Contract"
                [disabled]="isProcessing"
              ></p-radioButton>
            </div>
          </div>
          <div class="p-field" *ngIf="mode === 'edit'">
            <label for="enabled">Enabled Status</label>
            <div style="padding: 0.5rem 0">
              <p-inputSwitch
                id="enabled"
                formControlName="enabled"
                [disabled]="isProcessing"
              ></p-inputSwitch>
            </div>
          </div>
          <div class="p-field">
            <label for="join_date"
              >Join Date
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <p-calendar
                id="join_date"
                formControlName="join_date"
                [disabled]="isProcessing"
                [maxDate]="maxDate"
                showIcon="true"
                [monthNavigator]="true"
                [yearNavigator]="true"
                yearRange="2000:{{ currentYear }}"
                [style]="{ width: '220px' }"
                [appendTo]="'body'"
              ></p-calendar>
            </div>
          </div>
          <div>
            <p-button
              *ngIf="mode === 'edit'"
              type="button"
              label="Reset Password"
              icon="pi pi-key"
              class="p-button-warning"
              (click)="resetPassword()"
            ></p-button>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
    <p-dialog
      header="🎉 Success"
      [(visible)]="displayCreatedDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '40vw', maxWidth: '500px', minHeight: '300px' }"
      [resizable]="false"
    >
      <div class="p-d-flex p-flex-column p-ai-center p-p-4">
        <div class="icon-container">
          <i class="pi pi-check-circle"></i>
        </div>
        <p-card class="p-mt-3" styleClass="p-card-success p-p-3">
          <div class="p-text-center message-container">
            <!-- Message -->
            <p class="success-message" *ngIf="mode === 'create'">
              User created successfully!
            </p>
            <p class="success-message" *ngIf="mode === 'edit'">
              Password reset successfully!
            </p>
            <div class="p-d-flex p-flex-column p-ai-center user-info-container">
              <!-- Username Section -->
              <div
                class="copy-text"
                title="Click to copy username"
                (click)="copyToClipboard(userName)"
              >
                <span class="label">Username:</span>
                <span class="clickable-text">{{ userName }}</span>
              </div>

              <!-- Password Section -->
              <div
                class="copy-text"
                title="Click to copy password"
                (click)="copyToClipboard(generatedPassword)"
              >
                <span class="label">Password:</span>
                <span class="clickable-text">{{ generatedPassword }}</span>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </p-dialog>
  </div>
</div>
