.manage-division-container {
  padding: 2rem;

  .header-actions {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 0.5rem;
    margin-bottom: 1rem;

    .top-row {
      display: flex;
      justify-content: space-between; /* Align search and button */
      align-items: center;
      width: 100%;

      .search-container {
        flex: 1; /* Allow the search bar to expand */
        max-width: 400px;
      }

      .create-button {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border-radius: 8px;
      }
    }

    .checkbox-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.5rem;
    }
  }

  .p-table {
    margin-top: 1rem;
    min-height: 400px;
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }

  .p-field {
    margin-bottom: 2rem;
  }

  p-calendar {
    .ui-datepicker {
      font-size: 0.75rem;
      padding: 0.4rem;
    }

    .ui-datepicker-header {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 0.4rem;
      font-size: 0.8rem;
    }

    .ui-datepicker-title {
      font-size: 0.75rem;
      margin: 0;
    }

    .ui-datepicker-calendar {
      font-size: 0.7rem;
      gap: 0.1rem;
    }

    .ui-datepicker-calendar th,
    .ui-datepicker-calendar td {
      padding: 0.2rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      font-size: 0.7rem;
      padding: 0.2rem;
    }

    .ui-datepicker-today-button,
    .ui-datepicker-clear-button {
      font-size: 0.7rem;
      padding: 0.3rem 0.5rem;
    }

    .ui-datepicker-year,
    .ui-datepicker-month {
      font-size: 0.7rem;
      padding: 0.2rem;
    }
  }

  .input {
    padding: 0.75rem;
  }
}

td button {
  margin-right: 0.5rem;
}

td button:last-child {
  margin-right: 0;
}

.page-title {
  text-align: center;
  margin: 1rem auto;
}

.p-table-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.disabled-row {
  color: #a7a5a5;
}

.search-container {
  margin-bottom: 0.5rem;
}

.search-container .p-input-icon-left {
  width: 100%;
}

.search-container input {
  width: 100%;
  max-width: 400px;
}

.checkbox-container {
  margin-top: 0.5rem;
}

.p-dialog {
  display: flex;
}

.required {
  color: red;
}
.table-filters {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;

  .order-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

::ng-deep .p-confirm-dialog-reject {
  background-color: #f44336 !important;
  color: white !important;
  border: none !important;
}

::ng-deep .p-confirm-dialog-accept {
  background-color: #4caf50 !important;
  color: white !important;
  border: none !important;
}
