<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="manage-division-container">
  <div class="manage-division-container">
    <h1 class="page-title">Manage Division</h1>
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
              [(ngModel)]="globalFilterValue"
              (input)="onSearch()"
            />
          </span>
        </div>
        <button
          pButton
          label="Create"
          icon="pi pi-plus"
          class="create-button"
          (click)="openCreateDialog()"
          [disabled]="isProcessing || isEditFormLoading"
        ></button>
      </div>
    </div>

    <p-card>
      <p-table
        #dt
        [value]="divisions"
        [lazy]="true"
        [paginator]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (onLazyLoad)="fetchDivisions($event)"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [sortMode]="'single'"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="caption">
          <div class="table-filters">
            <div class="order-actions">
              <button
                pButton
                icon="{{
                  selectedOrderDirection === 'asc'
                    ? 'pi pi-arrow-up'
                    : 'pi pi-arrow-down'
                }}"
                class="p-button-secondary toggle-order-button"
                (click)="toggleOrderDirection()"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Division</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-division>
          <tr [ngClass]="{ 'disabled-row': division.enabled === false }">
            <td>{{ division.division_name }}</td>
            <td>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                (click)="editDivision(division.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                (click)="deleteDivision(division.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      header="{{ mode === 'create' ? 'Create Division' : 'Edit Division' }}"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form [formGroup]="editForm" (ngSubmit)="submitDivision()">
        <div class="p-fluid">
          <div *ngIf="mode === 'create'" class="p-field"></div>
          <div class="p-field">
            <label for="division_name"
              >Division
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="division_name"
                pInputText
                formControlName="division_name"
                [disabled]="isProcessing"
              />
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
