<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<app-navbar></app-navbar>
<div class="home-container">
  <h1 *ngIf="!loading && !errorMessage">
    Welcome, {{ userDetails?.full_name }}!
  </h1>

  <div *ngIf="loading" class="loading-message">
    Loading profile, please wait...
  </div>

  <div *ngIf="!loading && errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && !errorMessage">
    <div
      class="notification-dropdown"
      *ngIf="showIncomplete && currentRoles.includes('USER')"
    >
      <div class="dropdown-header" (click)="toggleDropdown()">
        <h2 class="card-title">Pending Submissions for {{ currentYear }}</h2>
        <span class="dropdown-caret" [class.open]="showDropdown"></span>
      </div>

      <div class="dropdown-content" *ngIf="showDropdown">
        <ul class="pending-list">
          <li>
            <p-checkbox
              (click)="navigateTo('employee-attitude-skill', $event)"
              label="Attitude Skill"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isAttSkillFilled"
              class="pending-checkbox"
            ></p-checkbox>
          </li>
          <li>
            <p-checkbox
              (click)="
                messageService.add({
                  severity: 'info',
                  summary: 'Info',
                  detail: 'Please contact HR for clarifications.',
                })
              "
              label="Achievements"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isAchFilled"
              class="pending-checkbox"
            >
            </p-checkbox>
          </li>
          <li>
            <p-checkbox
              (click)="navigateTo('employee-suggestion', $event)"
              label="Suggestion"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isSuggestionFilled"
              class="pending-checkbox"
            >
            </p-checkbox>
          </li>
          <li>
            <p-checkbox
              (click)="navigateTo('employee-dev-plan', $event)"
              label="Development Plan"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isDevPlanFilled"
              class="pending-checkbox"
            >
            </p-checkbox>
          </li>
          <li>
            <p-checkbox
              (click)="navigateTo('employee-technical-skill', $event)"
              label="Technical Skill"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isTechSkillFilled"
              class="pending-checkbox"
            >
            </p-checkbox>
          </li>
          <li>
            <p-checkbox
              (click)="navigateTo('assessment-summary', $event)"
              label="Assessment Summary"
              [disabled]="true"
              [binary]="true"
              [ngModel]="isAssFilled"
              class="pending-checkbox"
            >
            </p-checkbox>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-card">
      <h2 class="card-title">Profile</h2>
      <p><strong>Name:</strong> {{ userDetails?.full_name }}</p>
      <p><strong>Position:</strong> {{ userDetails?.position }}</p>
      <p><strong>Division:</strong> {{ userDetails?.division_name }}</p>
      <p><strong>Email:</strong> {{ userDetails?.email_address }}</p>
      <p>
        <strong>Roles:</strong>
        <span *ngFor="let role of currentRoles">
          {{ role }}
          <span>
            <span *ngIf="role !== currentRoles[currentRoles.length - 1]"
              >•</span
            >
          </span>
        </span>
      </p>

      <button
        pButton
        label="Change Password"
        icon="pi pi-key"
        class="p-button-warning change-password-button"
        (click)="openChangePasswordDialog()"
      ></button>
    </div>
  </div>

  <p-dialog
    class="change-password-dialog"
    [(visible)]="displayChangePasswordDialog"
    [modal]="true"
    [style]="{ width: '500px' }"
    [resizable]="false"
    [closable]="true"
  >
    <p-header>Change Password</p-header>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="p-field">
        <label for="currentPassword"
          >Current Password
          <span class="required">*</span>
        </label>
        <p-password
          type="password"
          id="currentPassword"
          [toggleMask]="true"
          [feedback]="false"
          [inputStyle]="{ width: '100%', paddingRight: '2rem' }"
          [style]="{ width: '120%' }"
          formControlName="currentPassword"
          placeholder="Enter current password"
          required
          [attr.disabled]="changePassLoading ? true : null"
        />
      </div>

      <div class="p-field">
        <label for="newPassword"
          >New Password
          <span class="required">*</span>
        </label>
        <p-password
          type="password"
          id="newPassword"
          [toggleMask]="true"
          [feedback]="true"
          [inputStyle]="{ width: '100%', paddingRight: '2rem' }"
          [style]="{ width: '120%' }"
          formControlName="newPassword"
          placeholder="Enter new password"
          required
          [attr.disabled]="changePassLoading ? true : null"
        />
      </div>

      <div class="p-field">
        <label for="confirmPassword"
          >Confirm Password
          <span class="required">*</span>
        </label>
        <p-password
          type="password"
          id="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          [inputStyle]="{ width: '100%', paddingRight: '2rem' }"
          [style]="{ width: '120%' }"
          formControlName="confirmPassword"
          placeholder="Confirm new password"
          required
          [attr.disabled]="changePassLoading ? true : null"
          (input)="checkPasswordMatch()"
        />
      </div>
      <span class="required">*Required</span>
      <div class="dialog-footer">
        <button
          pButton
          type="button"
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="displayChangePasswordDialog = false"
          [disabled]="changePassLoading"
        ></button>
        <button
          pButton
          type="submit"
          label="Submit"
          icon="pi pi-check"
          class="p-button-primary"
          [disabled]="
            changePassLoading || !changePasswordForm.valid || !passwordMatches
          "
        ></button>
      </div>
      <p
        *ngIf="
          !passwordMatches && changePasswordForm.get('confirmPassword')?.touched
        "
        class="validation-message"
      >
        Passwords do not match.
      </p>
    </form>
  </p-dialog>
</div>
