<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="manage-attitude-skill-container">
  <div class="manage-attitude-skill-container">
    <h1 class="page-title">Manage Attitude Skill</h1>
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              (input)="onSearch()"
              [(ngModel)]="globalFilterValue"
              pInputText
              placeholder="Search..."
              type="text"
            />
          </span>
        </div>
        <button
          (click)="openCreateGroupDialog()"
          [disabled]="isProcessing || isEditFormLoading"
          class="create-button"
          icon="pi pi-plus"
          label="Create Group Attitude Skill"
          pButton
          style="background-color: #cd7313"
        ></button>
        <button
          (click)="openCreateAttitudeSkillDialog()"
          [disabled]="isProcessing || isEditFormLoading"
          class="create-button"
          icon="pi pi-plus"
          label="Create Attitude Skill"
          pButton
        ></button>
      </div>
    </div>

    <p-card>
      <p-table
        [loading]="loading"
        [paginator]="true"
        [rows]="rowsPerPage"
        [sortMode]="'single'"
        [totalRecords]="totalRecords"
        [value]="groupedAttitudeSkills"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="caption">
          <div class="table-filters">
            <div class="order-actions">
              <div class="order-dropdown">
                <p-dropdown
                  (onChange)="fetchData()"
                  [(ngModel)]="selectedOrderColumn"
                  [options]="orderColumns"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Select Column"
                ></p-dropdown>
              </div>
              <button
                (click)="toggleOrderDirection()"
                class="p-button-secondary toggle-order-button"
                icon="{{
                  selectedOrderDirection === 'asc'
                    ? 'pi pi-arrow-up'
                    : 'pi pi-arrow-down'
                }}"
                pButton
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Group Name</th>
            <th>Weight</th>
            <th>Group Actions</th>
            <th>Attitude Skill</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template let-group pTemplate="body">
          <tr
            *ngIf="group.skills.length === 0"
            [ngClass]="{
              'disabled-row': group.enabled === false,
              'group-row': true
            }"
          >
            <td>{{ group.group_name }}</td>
            <td>{{ group.percentage }}</td>
            <td>
              <button
                (click)="editGroupAttSkill(group.id)"
                [disabled]="isEditFormLoading || isProcessing"
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                pButton
              ></button>
              <button
                (click)="deleteGroupAttSkill(group.id)"
                [disabled]="isEditFormLoading || isProcessing"
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                pButton
              ></button>
            </td>
            <td class="empty-message" colspan="2">
              No attitude skill available
            </td>
          </tr>

          <ng-container *ngFor="let skill of group.skills; let i = index">
            <tr
              [ngClass]="{
                'disabled-row': group.enabled === false,
                'group-row': i === 0
              }"
            >
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                {{ group.group_name }}
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                {{ group.percentage }}
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                <button
                  (click)="editGroupAttSkill(group.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-pencil'
                  "
                  class="p-button-rounded p-button-primary"
                  pButton
                ></button>
                <button
                  (click)="deleteGroupAttSkill(group.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-trash'
                  "
                  class="p-button-rounded p-button-danger"
                  pButton
                ></button>
              </td>
              <td [ngClass]="{ 'disabled-row': skill.enabled === false }">
                {{ skill.attitude_skill }}
              </td>
              <td>
                <button
                  (click)="editAttSkill(skill.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-pencil'
                  "
                  class="p-button-rounded p-button-primary"
                  pButton
                ></button>
                <button
                  (click)="deleteAttSkill(skill.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-trash'
                  "
                  class="p-button-rounded p-button-danger"
                  pButton
                ></button>
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      [(visible)]="displayEditDialog"
      [closable]="true"
      [dismissableMask]="true"
      [modal]="true"
      [resizable]="false"
      [style]="{ width: '50vw' }"
      header="{{ mode === 'create' ? 'Create' : 'Edit' }}"
    >
      <form (ngSubmit)="submitAttitudeSkill()" [formGroup]="editForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="attitude_skill">
              Attitude Skill
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <textarea
                [disabled]="isProcessing"
                formControlName="attitude_skill"
                id="attitude_skill"
                pInputTextarea
              ></textarea>
            </div>
          </div>
          <div class="p-field">
            <label for="group_id">
              Group
              <span class="required">*</span>
            </label>
            <p-dropdown
              [appendTo]="'body'"
              [disabled]="isProcessing"
              [filter]="true"
              [options]="groupOptions"
              filterPlaceholder="Search for a group"
              formControlName="group_id"
              id="group_id"
              placeholder="Select a Group"
            ></p-dropdown>
          </div>
          <div *ngIf="mode === 'edit'" class="p-field">
            <label for="enabled">Enabled Status</label>
            <div style="padding: 0.5rem 0">
              <p-inputSwitch
                [disabled]="isProcessing"
                formControlName="enabled"
                id="enabled"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            (click)="displayEditDialog = false"
            [disabled]="isProcessing"
            class="p-button-text"
            icon="pi pi-times"
            label="Cancel"
            pButton
            type="button"
          ></button>
          <button
            [disabled]="isProcessing"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            class="p-button-primary"
            pButton
            type="submit"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>

    <p-dialog
      [(visible)]="displayGroupEditDialog"
      [closable]="true"
      [dismissableMask]="true"
      [modal]="true"
      [resizable]="false"
      [style]="{ width: '50vw' }"
      header="{{ mode === 'create' ? 'Create' : 'Edit' }}"
    >
      <form (ngSubmit)="submitGroupAttitudeSkill()" [formGroup]="editGroupForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="group_name">
              Group Name
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                [disabled]="isProcessing"
                formControlName="group_name"
                id="group_name"
                pInputText
              />
            </div>
          </div>
          <div class="p-field">
            <label for="percentage">
              Weight
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <div class="radio-grid">
                <ng-container
                  *ngFor="let value of [1, 6, 2, 7, 3, 8, 4, 9, 5, 10]"
                >
                  <p-radioButton
                    [disabled]="isProcessing"
                    [label]="value.toString()"
                    [name]="'percentage'"
                    [value]="value"
                    formControlName="percentage"
                  ></p-radioButton>
                </ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="mode === 'edit'" class="p-field">
            <label for="enabled">Enabled Status</label>
            <div style="padding: 0.5rem 0">
              <p-inputSwitch
                [disabled]="isProcessing"
                formControlName="enabled"
                id="enabled"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            (click)="displayGroupEditDialog = false"
            [disabled]="isProcessing"
            class="p-button-text"
            icon="pi pi-times"
            label="Cancel"
            pButton
            type="button"
          ></button>
          <button
            [disabled]="isProcessing"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            class="p-button-primary"
            pButton
            type="submit"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
