<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="manage-attitude-skill-container">
  <div class="manage-attitude-skill-container">
    <h1 class="page-title">Manage Attitude Skill</h1>
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
              [(ngModel)]="globalFilterValue"
              (input)="applyFiltersAndPagination()"
            />
          </span>
        </div>
        <button
          pButton
          label="Create Attitude Skill"
          icon="pi pi-plus"
          class="create-button"
          (click)="openCreateAttitudeSkillDialog()"
          [disabled]="isProcessing || isEditFormLoading"
        ></button>
        <button
          pButton
          label="Create Group Attitude Skill"
          icon="pi pi-plus"
          class="create-button"
          (click)="openCreateGroupDialog()"
          [disabled]="isProcessing || isEditFormLoading"
        ></button>
      </div>
    </div>

    <p-card>
      <p-table
        [value]="filteredGroupedSkills"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [sortMode]="'single'"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Group Name</th>
            <th>Weight</th>
            <th>Group Actions</th>
            <th>Attitude Skill</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
          <!-- Check if group.skills has any achievements -->
          <tr
            *ngIf="group.skills.length === 0"
            [ngClass]="{ 'disabled-row': group.enabled === false }"
          >
            <td>{{ group.group_name }}</td>
            <td>{{ group.percentage }}</td>
            <td>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                (click)="editGroupAttSkill(group.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
              <button
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                (click)="deleteGroupAttSkill(group.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
            </td>
            <td colspan="2" class="empty-message">
              No attitude skill available
            </td>
          </tr>

          <ng-container *ngFor="let skill of group.skills; let i = index">
            <tr [ngClass]="{ 'disabled-row': group.enabled === false }">
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                {{ group.group_name }}
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                {{ group.percentage }}
              </td>
              <td *ngIf="i === 0" [attr.rowspan]="group.skills.length">
                <button
                  pButton
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-pencil'
                  "
                  class="p-button-rounded p-button-primary"
                  (click)="editGroupAttSkill(group.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                ></button>
                <button
                  pButton
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-trash'
                  "
                  class="p-button-rounded p-button-danger"
                  (click)="deleteGroupAttSkill(group.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                ></button>
              </td>
              <td [ngClass]="{ 'disabled-row': skill.enabled === false }">
                {{ skill.attitude_skill }}
              </td>
              <td>
                <button
                  pButton
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-pencil'
                  "
                  class="p-button-rounded p-button-primary"
                  (click)="editAttSkill(skill.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                ></button>
                <button
                  pButton
                  [icon]="
                    isEditFormLoading || isProcessing
                      ? 'pi pi-spin pi-spinner'
                      : 'pi pi-trash'
                  "
                  class="p-button-rounded p-button-danger"
                  (click)="deleteAttSkill(skill.id)"
                  [disabled]="isEditFormLoading || isProcessing"
                ></button>
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      header="{{ mode === 'create' ? 'Create' : 'Edit' }}"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form [formGroup]="editForm" (ngSubmit)="submitAttitudeSkill()">
        <div class="p-fluid">
          <div class="p-field">
            <label for="attitude_skill"
              >Attitude Skill
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <textarea
                id="attitude_skill"
                pInputTextarea
                formControlName="attitude_skill"
                [disabled]="isProcessing"
              ></textarea>
            </div>
          </div>

          <div class="p-field">
            <label for="group_id"
              >Group
              <span class="required">*</span>
            </label>
            <p-dropdown
              id="group_id"
              formControlName="group_id"
              [options]="groupOptions"
              [disabled]="isProcessing"
              placeholder="Select a Group"
              [filter]="true"
              filterPlaceholder="Search for a group"
              [appendTo]="'body'"
            ></p-dropdown>
          </div>

          <div class="p-field" *ngIf="mode === 'edit'">
            <label for="enabled">Enabled Status</label>
            <div style="padding: 0.5rem 0">
              <p-inputSwitch
                id="enabled"
                formControlName="enabled"
                [disabled]="isProcessing"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>

    <p-dialog
      header="{{ mode === 'create' ? 'Create' : 'Edit' }}"
      [(visible)]="displayGroupEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form [formGroup]="editGroupForm" (ngSubmit)="submitGroupAttitudeSkill()">
        <div class="p-fluid">
          <div class="p-field">
            <label for="group_name"
              >Group Name
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <input
                id="group_name"
                pInputText
                formControlName="group_name"
                [disabled]="isProcessing"
              />
            </div>
          </div>

          <div class="p-field">
            <label for="percentage"
              >Weight
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <div class="radio-grid">
                <ng-container
                  *ngFor="let value of [1, 6, 2, 7, 3, 8, 4, 9, 5, 10]"
                >
                  <p-radioButton
                    [name]="'percentage'"
                    [value]="value"
                    formControlName="percentage"
                    [disabled]="isProcessing"
                    [label]="value.toString()"
                  ></p-radioButton>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="p-field" *ngIf="mode === 'edit'">
            <label for="enabled">Enabled Status</label>
            <div style="padding: 0.5rem 0">
              <p-inputSwitch
                id="enabled"
                formControlName="enabled"
                [disabled]="isProcessing"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayGroupEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
