<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<br />
<div class="employee-achievement-skill-container">
  <div class="page-title">
    <h1>{{ selectedName }}'s {{ selectedYear }} Achievements</h1>
  </div>
  <div class="header-actions">
    <div class="top-row">
      <div
        *ngIf="
          currentRoles.includes('HR') ||
          currentRoles.includes('MGR') ||
          currentRoles.includes('SVP')
        "
        class="user-selection"
      >
        <label for="userSelect">Select User: </label>
        <p-dropdown
          id="userSelect"
          [options]="employees"
          [(ngModel)]="selectedUserId"
          optionLabel="full_name"
          optionValue="id"
          (onChange)="fetchEmpAchievementSkills()"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="assessment-year-selection">
        <label for="assessmentYear">Assessment Year: </label>
        <p-calendar
          id="assessmentYear"
          [(ngModel)]="selectedAssessmentYear"
          view="year"
          dateFormat="yy"
          (onSelect)="fetchEmpAchievementSkills()"
          [maxDate]="maxDate"
          placeholder="{{ selectedYear }}"
        ></p-calendar>
      </div>
    </div>
  </div>
  <form (ngSubmit)="submitEmployeeAchievementSkill()">
    <div class="p-fluid">
      <div class="p-field">
        <table class="p-datatable edit-form-table">
          <thead>
            <tr>
              <th>Group</th>
              <th>Achievement</th>
              <th>Notes</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let group of groupedEmpAchievementSkills">
              <ng-container
                *ngIf="
                  group.achievements && group.achievements.length > 0;
                  else noEditachievements
                "
              >
                <tr>
                  <td [attr.rowspan]="group.achievements.length">
                    {{ group.group_name }}
                  </td>
                  <td>{{ group.achievements[0]?.achievement_name }}</td>
                  <td>
                    <input
                      [(ngModel)]="group.achievements[0].notes"
                      name="Notes_{{ group.group_id }}_0"
                      pInputText
                      [disabled]="isProcessing"
                    />
                  </td>
                  <td>
                    <p-dropdown
                      [(ngModel)]="group.achievements[0].score"
                      name="Score_{{ group.group_id }}_0"
                      [options]="scoreOptions"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Select Score"
                      [disabled]="isProcessing"
                      appendTo="body"
                    ></p-dropdown>
                  </td>
                </tr>
                <tr
                  *ngFor="
                    let skill of group.achievements;
                    let i = index;
                    trackBy: trackByIndex
                  "
                  [hidden]="i === 0"
                >
                  <td>{{ skill.achievement_name }}</td>
                  <td>
                    <input
                      [(ngModel)]="skill.notes"
                      name="Notes_{{ group.group_id }}_{{ i }}"
                      pInputText
                      [disabled]="
                        isProcessing ||
                        !currentRoles.includes('HR') ||
                        selectedUserId === currentUserId ||
                        isExist
                      "
                    />
                  </td>
                  <td>
                    <p-dropdown
                      [(ngModel)]="skill.score"
                      name="Score_{{ group.group_id }}_{{ i }}"
                      [options]="scoreOptions"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Select Score"
                      [disabled]="
                        isProcessing ||
                        !currentRoles.includes('HR') ||
                        selectedUserId === currentUserId ||
                        isExist
                      "
                      appendTo="body"
                    ></p-dropdown>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noEditachievements>
                <tr>
                  <td>{{ group.group_name }}</td>
                  <td
                    colspan="3"
                    style="text-align: center; font-style: italic"
                  >
                    No achievements available
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dialog-footer">
      <button
        *ngIf="
          !isExist &&
          currentRoles.includes('HR') &&
          selectedUserId !== currentUserId
        "
        pButton
        type="submit"
        [label]="isProcessing ? 'Saving...' : 'Save'"
        [disabled]="isProcessing"
        class="p-button-primary"
      >
        <ng-container *ngIf="isProcessing">
          <i class="pi pi-spin pi-spinner"></i>
        </ng-container>
      </button>
    </div>
  </form>
</div>
