<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>
<div class="employee-suggestion-container">
  <div class="employee-suggestion-container">
    <h1 class="page-title">Employee Suggestion</h1>
    <div class="header-actions">
      <div class="top-row">
        <div class="search-container">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
              [(ngModel)]="globalFilterValue"
              (input)="onSearch()"
            />
          </span>
        </div>
        <button
          *ngIf="currentRoles.includes('USER')"
          pButton
          label="Create"
          icon="pi pi-plus"
          class="create-button"
          (click)="openCreateDialog()"
          [disabled]="isProcessing || isEditFormLoading"
        ></button>
      </div>
      <div
        class="checkbox-container"
        *ngIf="currentRoles.includes('HR') && currentRoles.includes('USER')"
      >
        <p-checkbox
          binary="true"
          [(ngModel)]="showOnlyMine"
          (onChange)="applyFiltersAndPagination()"
          label="Show Only Mine"
        ></p-checkbox>
      </div>
    </div>

    <p-card>
      <p-table
        #dt
        [value]="checkedSuggestions"
        [lazy]="true"
        [paginator]="true"
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (onLazyLoad)="fetchEmpSuggestions($event)"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [sortMode]="'single'"
      >
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="currentRoles.includes('HR')">Full Name</th>
            <th>Suggestion</th>
            <th>Assessment Year</th>
            <th *ngIf="currentRoles.includes('USER')">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empSuggestion>
          <tr>
            <td *ngIf="currentRoles.includes('HR')">
              {{ empSuggestion.full_name }}
            </td>
            <td>{{ empSuggestion.suggestion }}</td>
            <td>{{ empSuggestion.assessment_year }}</td>
            <td *ngIf="currentRoles.includes('USER')">
              <button
                *ngIf="
                  empSuggestion.user_id === currentUserId &&
                  empSuggestion.status === 1
                "
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-pencil'
                "
                class="p-button-rounded p-button-primary"
                (click)="editEmpSuggestion(empSuggestion.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
              <button
                *ngIf="
                  empSuggestion.user_id === currentUserId &&
                  empSuggestion.status === 1
                "
                pButton
                [icon]="
                  isEditFormLoading || isProcessing
                    ? 'pi pi-spin pi-spinner'
                    : 'pi pi-trash'
                "
                class="p-button-rounded p-button-danger"
                (click)="deleteEmpSuggestion(empSuggestion.id)"
                [disabled]="isEditFormLoading || isProcessing"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-dialog
      header="{{
        mode === 'create'
          ? 'Create Employee Suggestion'
          : 'Edit Employee Suggestion'
      }}"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [closable]="true"
      [dismissableMask]="true"
      [style]="{ width: '50vw' }"
      [resizable]="false"
    >
      <form [formGroup]="editForm" (ngSubmit)="submitEmployeeSuggestion()">
        <div class="p-fluid">
          <div *ngIf="mode === 'create'" class="p-field"></div>
          <div class="p-field">
            <label for="suggestion"
              >Suggestion
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <textarea
                id="suggestion"
                pInputTextarea
                formControlName="suggestion"
                [disabled]="isProcessing"
                rows="5"
                cols="30"
                style="width: 100%; resize: none"
              ></textarea>
            </div>
          </div>

          <div class="p-field">
            <label for="assessment_year"
              >Assessment Year
              <span class="required">*</span>
            </label>
            <div style="padding: 0.5rem 0">
              <p-calendar
                id="assessment_year"
                view="year"
                formControlName="assessment_year"
                dateFormat="yy"
                [disabled]="mode === 'update'"
                [maxDate]="maxDate"
              ></p-calendar>
            </div>
          </div>
        </div>
        <span class="required">*Required</span>
        <div class="dialog-footer">
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-text"
            label="Cancel"
            [disabled]="isProcessing"
            (click)="displayEditDialog = false"
          ></button>
          <button
            pButton
            type="submit"
            [label]="
              isProcessing
                ? mode === 'create'
                  ? 'Creating...'
                  : 'Saving...'
                : mode === 'create'
                ? 'Create'
                : 'Save'
            "
            [disabled]="isProcessing"
            class="p-button-primary"
          >
            <ng-container *ngIf="isProcessing">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </button>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
