<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-navbar></app-navbar>

<div class="manage-role-access">
  <h1>Manage Role Access</h1>

  <!-- Manage Menus -->
  <div *ngIf="categorizedMenus.Manage.length > 0">
    <h2>Manage</h2>
    <p-table
      [loading]="isLoading"
      [value]="categorizedMenus.Manage"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Menu</th>
          <th *ngFor="let role of roles">{{ role.rolename }}</th>
        </tr>
      </ng-template>
      <ng-template let-menu pTemplate="body">
        <tr>
          <td>{{ menu.displayName }}</td>
          <td *ngFor="let role of roles">
            <p-checkbox
              (onChange)="toggleAssociation(role.id, menu.id)"
              [(ngModel)]="checkboxStates[role.id + '~' + menu.id]"
              [disabled]="
                role.rolename === 'HR' &&
                menu.menu_name === 'manage-role-access'
              "
              binary="true"
            ></p-checkbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Submit Menus -->
  <div *ngIf="categorizedMenus.Submit.length > 0">
    <h2>Submit</h2>
    <p-table
      [loading]="isLoading"
      [value]="categorizedMenus.Submit"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Menu</th>
          <th *ngFor="let role of roles">{{ role.rolename }}</th>
        </tr>
      </ng-template>
      <ng-template let-menu pTemplate="body">
        <tr>
          <td>{{ menu.displayName }}</td>
          <td *ngFor="let role of roles">
            <p-checkbox
              (onChange)="toggleAssociation(role.id, menu.id)"
              [(ngModel)]="checkboxStates[role.id + '~' + menu.id]"
              binary="true"
            ></p-checkbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="actions">
    <button
      (click)="saveAssociations()"
      [disabled]="isLoading"
      class="p-button-primary"
      icon="pi pi-save"
      label="Save"
      pButton
    ></button>
    <button
      (click)="resetAssociations()"
      [disabled]="isLoading"
      class="p-button-secondary"
      icon="pi pi-replay"
      label="Reset"
      pButton
    ></button>
  </div>
</div>
